body {
	padding-top: 290px;
}

.text-green {
	color: green;
}

.text-red {
	color: red;
}

.counter {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	background: #2694fa;
	color: #fff;
	z-index: 9999;
	padding-left: 10px;
	padding-right: 10px;
}