body {
	margin-top: 450px;
	font-family: 'Open Sans', sans-serif;
}

.text-green {
	color: green;
}

.text-red {
	color: red;
}

.counter {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	background: #2694fa;
	color: #fff;
	z-index: 9999;
	padding-left: 10px;
	padding-right: 10px;
}

.statistic {
	text-align: right;
}

.counter tr:hover {
	background: #1583ff;
}

.counter tr td {
	padding: 1px 5px 1px 5px;
}